#dice {
    color: red;
}
.dice1{
    width: 160px;
    height:160px ;
    background-image: url("../img/dice.jpeg");
}
.dice2{
    width: 160px;
    height:160px ;
    background-position-x:320px ;
    background-image: url("../img/dice.jpeg");
}
.dice3{
    width: 160px;
    height:160px ;
    background-position-x:160px ;
    background-image: url("../img/dice.jpeg");
}
.dice4{
    width: 160px;
    height:160px ;
    background-position-y:160px ;
    background-image: url("../img/dice.jpeg");
}
.dice5{
    width: 160px;
    height:160px ;
    background-position-x:320px ;
    background-position-y:160px ;
    background-image: url("../img/dice.jpeg");
}
.dice6{
    width: 160px;
    height:160px ;
    background-position-x:160px ;
    background-position-y:160px ;
    background-image: url("../img/dice.jpeg");
}