body {
    background-color: rgb(129, 129, 129);
}

#container {
    margin: 15px;
    padding: 50px;
    /* max-height: auto; */
    border: 4px solid black;
    background-color: lightblue;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    /* overflow: hidden; */
}

span {
    color: red;
}